<nav id="nav-bar" class="navbar navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand">Event Handling</a>
  </div>
</nav>
<div class="container">
  <div class="input-container">
    <select #myCountry class="form-control form-control-lg" name="country" id="country"
      (change)="getValue(myCountry.value)">
      <option value="">Select Your Country</option>
      <option value="india">INDIA</option>
      <option value="usa">USA</option>
      <option value="uk">UK</option>
      <option value="china">CHINA</option>
    </select>
  </div>
  <div class="card">
    <div *ngIf="country == 'india'" id="india-container" class="card-body">
      <form>
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" />

          <label>Aadhar Number</label>
          <input type="number" class="form-control" />
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
    </div>
    <div *ngIf="country == 'usa'" id="usa-container" class="card-body">
      <form>
        <div class="form-group">
          <label>SSN Number</label>
          <input type="text" class="form-control" />
          <label>Passport Number</label>
          <input type="text" class="form-control" />
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
    </div>
    <div *ngIf="country == 'uk'" id="uk-container" class="card-body">
      <form>
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" />
          <label>Password</label>
          <input type="text" class="form-control" />
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
    </div>
    <div *ngIf="country == 'china'" id="china-container" class="card-body">
      <form>
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" />
          <label>Residencial Id</label>
          <input type="text" class="form-control" />
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
    </div>
  </div>
</div>
